<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.batch.crm.dao.CrmEventBatchDao">

    <select  id="selectExpirePointList" resultType="com.ceragem.batch.crm.model.BatchMap"> 
            SELECT /* com.ceragem.batch.crm.dao.CrmEventBatchDao.selectExpirePointList */ A.ITG_CUST_NO
                 , A.CUST_NM                    /*고객명        */
                 , A.GNDR_CD                    /*성별코드        */
                 , A.BIRTHDAY                    /*생년월일        */
                 , B.EXP_POINT_SCORE  
                 , A.REMAIN_POINT_SCORE
                 , DAMO.DECRYPT_VAR_B64('AES_256',A.MPHON_NO,'') MPHON_NO  /*이동전화번호암호화값     MPHON_NO */
                 , TO_CHAR(TO_DATE(#{ymd},'YYYYMMDD'),'YYYY-MM-DD')  EXP_DT
              FROM CRM_CUST_BAS A 
        INNER JOIN (SELECT A.ITG_CUST_NO
                         , SUM(A.OCCUR_POINT_SCORE)  OCCUR_POINT_SCORE
                         , NVL(SUM(B.USE_POINT_SCORE),0) USE_POINT_SCORE
                         , SUM(A.OCCUR_POINT_SCORE) - NVL(SUM(B.USE_POINT_SCORE),0) EXP_POINT_SCORE
                      FROM CRM_POINT_HST A
                      LEFT JOIN CRM_POINT_USE_REL B ON A.POINT_HST_SEQ = B.OCCUR_POINT_HST_SEQ
                     WHERE A.OCCUR_POINT_SCORE > 0
                       AND A.VALID_PERD_END_YMD = #{ymd} 
                       AND A.USE_TYPE_CD = '002'
                       AND A.EXTNC_DT IS NULL
                  GROUP BY A.ITG_CUST_NO
                    HAVING SUM(A.OCCUR_POINT_SCORE) - NVL(SUM(B.USE_POINT_SCORE),0) > 0
                     ) B ON A.ITG_CUST_NO = B.ITG_CUST_NO 
               WHERE A.MSHIP_SBSC_YN = 'Y'
                 AND A.CUST_STATUS_CD != '003'
        
    </select>
    
    <select  id="selectExpireTalkList" resultType="com.ceragem.batch.crm.model.BatchMap"> 
            SELECT /* com.ceragem.batch.crm.dao.CrmEventBatchDao.selectExpireTalkList */ A.ITG_CUST_NO
                 , A.CUST_NM                    /*고객명        */
                 , A.GNDR_CD                    /*성별코드        */
                 , A.BIRTHDAY                    /*생년월일        */
                 , B.EXP_POINT_SCORE  
                 , A.REMAIN_POINT_SCORE
                 , DAMO.DECRYPT_VAR_B64('AES_256',A.MPHON_NO,'') MPHON_NO  /*이동전화번호암호화값     MPHON_NO */
                 , TO_CHAR(ADD_MONTHS( SYSDATE , 1),'YYYY-MM') EXP_DT
              FROM CRM_CUST_BAS A 
        INNER JOIN (SELECT A.ITG_CUST_NO
                         , SUM(A.OCCUR_POINT_SCORE)  OCCUR_POINT_SCORE
                         , NVL(SUM(B.USE_POINT_SCORE),0) USE_POINT_SCORE
                         , SUM(A.OCCUR_POINT_SCORE) - NVL(SUM(B.USE_POINT_SCORE),0) EXP_POINT_SCORE
                      FROM CRM_POINT_HST A
                      LEFT JOIN CRM_POINT_USE_REL B ON A.POINT_HST_SEQ = B.OCCUR_POINT_HST_SEQ
                     WHERE A.OCCUR_POINT_SCORE > 0
                       AND A.VALID_PERD_END_YMD LIKE TO_CHAR(ADD_MONTHS( SYSDATE , 1),'YYYYMM') || '%' 
                       AND A.USE_TYPE_CD = '002'
                       AND A.EXTNC_DT IS NULL
                  GROUP BY A.ITG_CUST_NO
                    HAVING SUM(A.OCCUR_POINT_SCORE) - NVL(SUM(B.USE_POINT_SCORE),0) > 0
                     ) B ON A.ITG_CUST_NO = B.ITG_CUST_NO 
               WHERE A.MSHIP_SBSC_YN = 'Y'
                 AND A.CUST_STATUS_CD != '003'
        
    </select>
    
    <update id="updateExpirePoint">
                UPDATE  /* com.ceragem.batch.crm.dao.CrmEventBatchDao.updateExpirePoint*/CRM_POINT_HST
                   SET EXTNC_DT = SYSDATE
                 WHERE EXTNC_DT  IS NULL
                   AND OCCUR_POINT_SCORE > 0
                   AND USE_TYPE_CD = '002' 
                   AND TO_CHAR(SYSDATE,'YYYYMMDD') > VALID_PERD_END_YMD 
    </update>
</mapper>
